{{ define "content" }}

<style>
  .socialList {
    list-style: none;
    padding: 5px;
  }
  .socialLogo {
    padding: 0px;
    box-shadow: none;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 16px;
  }
</style>

<h1>About</h1>
<div class="row">
  <div class="col-md-8">
    <p>I am a software developer in the New England area that enjoys delivering
      great products to users. Coding and building systems is both my passion
      and my hobby. This site is where I host <a href="/blog">my blog</a> and
      post small articles about software development as well as code samples.</p>

    <p>I've been developing web applications for several years. Currently I am
      working on a Solr/Blacklight application that is the front end for the
      discovery layer at the Brown University Library. I am also involved in
      other software development initiatives at the library including our
      researchers profile application (a VIVO app). The last couple of years I
      worked at Penn State on a Ruby on Rails project to power document
      repositories for libraries using the
      <a href="https://github.com/projecthydra" target="_blank">Hydra Framework</a>.
      For many years I was also heavily involved on the Microsoft stack
      (C#, ASP.NET MVC, SQL Server) building complex and high-volume applications
      for a variety of industries.</p>

    <p>My main areas of interest are web development in small
      and collaborative teams. I also enjoy learning new and
      interesting technologies and you'll find a wide variety
      of topics in my blog including algorithms and data structures,
      Ruby on Rails, Node.js/JavaScript, C#/ASP.NET MVC, Go,
      NoSQL databases, event-driven architectures, and bit of
      functional programming.</p>

    <p>I hold a Bachelor of Science in Computer Science from
      Colima's Technology Institute (Mexico) and several
      certifications including Microsoft Certified Software
      Developer (MCSD), ScrumMaster, and MongoDB for Developers (M101P).</p>

    <p>In the last few years I've given presentations at local
      events and user groups in a variety of topics including
      CoffeeScript, Node.js, NoSQL/MongoDB, and Linked Data.</p>

    <p>Feel free to browse around and contact me at
      <a href="mailto:hector@hectorcorrea.com">hector@hectorcorrea.com</a>
      if you have any questions or comments.</p>
  </div>

  <div class="col-md-4">
    <img src="/public/hectorcorrea2.jpg" alt="Hector Correa"/>
    <h4>Find me at</h4>
    <ul class="socialList">
      <li><img class="socialLogo" alt="" src="/public/github.svg"/>&nbsp;<a href="https://github.com/hectorcorrea" target="_blank">GitHub</a>
      <li><img class="socialLogo" alt="" src="/public/twitter.png"/>&nbsp;<a href="https://twitter.com/hectorjcorrea" target="_blank">Twitter</a>
      <li><img class="socialLogo" alt="" src="/public/rss.svg"/>&nbsp;<a href="blog/rss" target="_blank">Blog RSS Feed</a>
      <li><img class="socialLogo" alt="" src="/public/stackoverflow.svg"/>&nbsp;<a href="https://stackoverflow.com/users/446681/hector-correa" target="_blank">StackOverflow</a>
    </ul>
  </div>

</div>
{{ end }}
