{{ include layoutTop }}
<div class="row">
  <div class="eight columns">
    <h1>About Hector Correa</h1>

    <p>I am a Software Developer in State College, PA. You can contact me at <a href="mailto:hector@hectorcorrea.com">hector@hectorcorrea.com </a></p>

    <p>I've been developing software since the late eighties. My experience is mostly with distributed desktop and web applications for business purposes. Some of the industries that I have worked for include Health Insurance, Tax Preparation, Construction, Financing, Bankruptcy, and Electronic Discovery (eDiscovery.)</p>

    <p>I've been involved in all areas of software development including analysis, design, coding, and testing either as a programmer, architect, technical lead, or project manager.</p>

    <p>Technology wise my experience is mainly with C#, ASP.NET, SQL Server, and Oracle.</p>

    <p>I hold a Bachelor of Science in Computer Science from Colima's Technology Institute (Mexico) and several certifications including Microsoft Certified Software Developer (MCSD) and ScrumMaster.</p>
    
  </div>
  <div class="four columns">
    <img src="images/hectorbw.jpg" />
    <h4>Find me at</h4>
    <ul class="disc">
      <li><a href="https://github.com/hectorcorrea" target="_blank">GitHub</a></li>
      <li><a href="https://twitter.com/hectorjcorrea" target="_blank">Twitter</a></li>
      <li><a href="blog/rss" target="_blank">Blog Feed</a></li>
    </ul>
  </div>
</div>
{{ include layoutBottom }}
