{{ define "content" }}

<style>
  .socialList {
    list-style: none;
    padding: 5px;
  }
  .socialLogo {
    padding: 0px;
    box-shadow: none;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 16px;
  }
</style>

<h1>About</h1>
<div class="row">
  <div class="col-md-8">
    <p>I am a software developer in Hartford, CT. This site is where I host <a href="https://hectorcorrea.com/blog/">my blog</a> and post small
      pieces about software development.</p>

    <p>I have been a software developer for many years. Since 2016 my focus has been on Ruby on Rails
    applications for academic libraries with a strong focus on indexing and searching data through
    Apache Solr.</p>

    <ul>
      <li><p>Currently I work at the Princeton University Library as part of the team in charge of the <a href="https://catalog.princeton.edu/" target="_blank">discovery application</a>
        and its related services (<a href="https://github.com/pulibrary/marc_liberation" target="_blank">code</a>). </p>
      <li><p>From 2016 to 2020 I worked at the Brown University Library on several projects related to
      discovery (<a href="https://github.com/Brown-University-Library/bul-search" target="_blank">code</a>),
      <a href="https://vivo.brown.edu/" target="_blank">research profiles</a> (<a href="https://github.com/Brown-University-Library/vivo-on-rails" target="_blank">code</a>),
      and <a href="https://www.riamco.org/" target="_blank">archives</a> (<a href="https://github.com/Brown-University-Library/riamco" target="_blank">code</a>).
      Most of these applications were Ruby on Rails application using Solr, some of them through Blacklight others straight through. </p>
      <li><p>From 2014 to 2016 I worked at Penn State on the development of <a href="https://scholarsphere.psu.edu/" target="_blank">ScholarSphere</a>,
      Penn State&#39;s institutional repository (<a href="https://github.com/psu-stewardship/scholarsphere" target="_blank">code</a>).</p>
      <li><p>Before academic libraries I was heavily involved on the Microsoft stack (C#, ASP.NET MVC, SQL Server) building complex and
      high-volume applications for a variety of industries.</p>
    </ul>

    <p>My main areas of interest are web development in small and collaborative teams. I also enjoy learning new and interesting technologies and
      you&#39;ll find a wide variety of topics in my blog including algorithms and data structures, Ruby on Rails, Node.js/JavaScript, C#/ASP.NET MVC,
      Go, NoSQL databases, event-driven architectures, and bit of functional programming.</p>

    <p>I hold a Bachelor of Science in Computer Science from Colima&#39;s Technology Institute (Mexico) and several certifications including
      Microsoft Certified Software Developer (MCSD), ScrumMaster, and MongoDB for Developers (M101P).</p>

    <p>In the last few years I&#39;ve given presentations at local events as well as regional and national conferences in a variety of
      topics including
      <a href="https://github.com/hectorcorrea/solr-for-newbies" target="_blank">Solr</a>,
      <a href="https://hectorcorrea.com/blog/introduction-to-node-js/51" target="_blank">Node.js</a>,
      <a href="https://www.slideshare.net/hectorwashere/introduction-to-nosql-with-mongodb" target="_blank">NoSQL/MongoDB</a>,
      <a href="https://hectorcorrea.com/blog/introduction-to-ldp/67" target="_blank">Linked Data</a>, and
      <a href="https://hectorcorrea.com/blog/build-your-own-software/70" target="_blank">sustainable software development</a>.</p>

    <p>Feel free to browse around and contact me at
      <a href="mailto:hector@hectorcorrea.com">hector@hectorcorrea.com</a>
      if you have any questions or comments.</p>
  </div>

  <div class="col-md-4">
    <img src="/public/hectorcorrea.jpg" alt="Hector Correa"/>
    <h4>Find me at</h4>
    <ul class="socialList">
      <li><img class="socialLogo" alt="" src="/public/github.svg"/>&nbsp;<a href="https://github.com/hectorcorrea" target="_blank">GitHub</a>
      <li><img class="socialLogo" alt="" src="/public/twitter.png"/>&nbsp;<a href="https://twitter.com/hectorjcorrea" target="_blank">Twitter</a>
      <li><img class="socialLogo" alt="" src="/public/rss.svg"/>&nbsp;<a href="blog/rss" target="_blank">Blog RSS Feed</a>
      <li><img class="socialLogo" alt="" src="/public/stackoverflow.svg"/>&nbsp;<a href="https://stackoverflow.com/users/446681/hector-correa" target="_blank">StackOverflow</a>
    </ul>
  </div>

</div>
{{ end }}
