{{ include layoutTop }}

{{ postUrl = isNaN(topic.meta.id) ? "/blog/new" : "/blog/save/" + topic.meta.id }}

<h1>Blog</h1>
<p>{{= topic.meta.title }}</p>

{{ if(topic.errors) { }}
<div class="alert-box alert">
  Oops! Couldn't save this blog post. Fix the error(s) indicated below and try again.
  <a href="" class="close">&times;</a>
</div>
{{ } }}

<form name="input", action="{{= postUrl }}", method="post">
<fieldset>
  <p>
  <label>Title</label> 
  <input type="text" name="title" value="{{= topic.meta.title }}" placeholder="Blog title" />
  {{ if(topic.errors && topic.errors.emptyTitle) { }}
  <small class="error">Enter a title for the blog post.</small>
  {{ } }}
  {{ if(topic.errors && topic.errors.duplicateTitle) { }}
  <small class="error">There is a already another topic with the exact same title. 
    Please enter a different title for this one.</small>
  {{ } }}
  </p>

  <p>
  <label>Summary (raw HTML)<label> 
  <textarea name="summary", rows="4", cols="60" placeholder="Enter blog post summary">{{= topic.meta.summary }}</textarea>
  {{ if(topic.errors && topic.errors.emptySummary) { }}
  <small class="error">Enter a short summary for the blog post.</small>
  {{ } }}

  </p>

  <p>
  <label>Content (raw HTML)<label> 
  <textarea name="content", rows="20", cols="60" placeholder="Enter blog post content">{{- topic.content }}</textarea>
  {{ if(topic.errors && topic.errors.emptyContent) { }}
  <small class="error">Enter the content of the blog post</small>
  {{ } }}
  </p>

  <div class="row">
    <div class="four columns">
      {{ if(topic.meta.postedOn === null) { }}
        <b>Draft Post</b>
      {{ } else { }}
        <b>Posted on:</b> 
        {{= topic.meta.postedOn.toDateString() }}
        <b>at</b> {{= topic.meta.postedOn.toLocaleTimeString() }}
      {{ } }}
    </div>
  </div>

  <p>
    {{ if(topic.meta.postedOn === null) { }}
    <input type="submit" class="button" name = "draft" value="Save Draft" />
    <input type="submit" class="button" name = "publish" value="Publish" />
    {{ } else { }}
    <input type="submit" class="button" name = "draft" value="Save Draft" />
    <input type="submit" class="button" name = "update" value="Update" />
    <input type="submit" class="button" name = "publish" value="Publish" />
    {{ } }}
  </p>
  
  <p>ID {{= topic.meta.id }} <p/>

</fieldset>
</form>

{{ include layoutBottom }}