{{ define "content" }}
<div class="container">
  <h1>Blog Posts</h1>
  <div class="row row-cols-3">
    {{ range $key, $blog := .Blogs }}
    <div class="col">
      <h2><a href="{{ $blog.Url }}">{{ $blog.Title }}</a></h2>
      <p>{{ $blog.Summary }}</p>
    </div>
    {{ end }}
  </div>
</div>

{{ if .Session.IsAuth }}
<div class="container">
  <div class="row">
    <p>
      <form action="/blog/new" method="post">
        <button class="btn btn-primary" type="submit">New Post</button>
      </form>
    </p>
  </div>
</div>
{{ end }}

{{ end }}
