{{ define "content" }}
<form class="form-horizontal" role="form" action="{{ .Url }}/save" method="post">

  <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" class="form-control"
      value="{{ .Title }}" placeholder="Blog title" autofocus/>
  </div>

  <div class="form-group">
    <label for="summary">Summary</label>
    <textarea id="summary" name="summary" class="form-control" rows="10" placeholder="Enter summary here">{{ .Summary }}</textarea>
  </div>

  <div class="form-group">
    <label for="text">Text</label>
    <textarea id="text" name="content" class="form-control" rows="10" placeholder="Enter text here">{{ .Markdown }}</textarea>
  </div>

  <!-- add placeholder to display errors -->
  <p>ID: {{ .Id }}<p/>
  <p>Created: {{ .CreatedOn }}</p>
  <p>Updated: {{ .UpdatedOn }}</p>
  <p>Posted: {{ .PostedOn }}</p>

</form>
{{ end }}
