{{ define "content" }}
<h1>{{.Title}}</h1>

{{ if .Session.IsAuth }}
  <form style="display: inline" action="{{ .Url }}/edit" method="post">
      <button type="submit" class="btn btn-primary">Edit</button>
  </form>
  {{ if .IsDraft }}
    <form style="display: inline" action="{{ .Url }}/post" method="post">
        <button type="submit" class="btn btn-secondary">Post Blog</button>
    </form>
  {{ else }}
    <form style="display: inline" action="{{ .Url }}/draft" method="post">
        <button type="submit" class="btn btn-secondary">Mark as Draft</button>
    </form>
  {{ end }}
{{ end }}

{{.Html}}

<p class="text-muted">
  <small>Blog posted on: {{ .PostedOn }}</small>
</p>

{{ if .Session.IsAuth }}
  <p class="text-muted">
    <small>Created on: {{ .CreatedOn }}, Last update: {{ .UpdatedOn }}</small>
  </p>
{{ end }}

{{ end }}
