{{ include layoutTop }}

<div class="row">
  <div class="twelve columns">
    <h1>{{= topic.meta.title }}</h1>
    {{- topic.content }}
    <p></p>
    {{ if (!page.isReadOnly) { }} 
    <p><a href='/blog/edit/{{= topic.meta.url }}' class="button">Edit</a></p>  
    {{ } }}
  </div>
  <div class="four columns">
    {{ if (topic.meta.postedOn === null) { }} 
      <p><b>Draft Post</b></p>
    {{ } else { }}
      <p>
      <b>Posted on:</b>
      {{= topic.meta.postedOn.toDateString() }}
      at {{= topic.meta.postedOn.toLocaleTimeString() }}
      </p>
    {{ } }}
  </div>

  <div class="four columns">
    {{ if (!page.isReadOnly) { }} 
      <p>
      <b>Created on:</b>
      {{= topic.meta.createdOn.toDateString() }}
      at {{= topic.meta.createdOn.toLocaleTimeString() }}
      </p>
    {{ } }}
  </div>

  <div class="four columns">
    {{ if (!page.isReadOnly) { }} 
      <p>
      <b>Updated on:</b>
      {{= topic.meta.updatedOn.toDateString() }}
      at {{= topic.meta.updatedOn.toLocaleTimeString() }}
      </p>
    {{ } }}
  </div>
</div>

{{ include layoutBottom }}


