{{ include layoutTop }}

<div class="row">

  <div class="eight columns">
    <h3>Recent Blog Posts</h3>
  </div>
</div>

{{ for (r=0; r<matrix.length; r++) { }}
  
  <div class="row">
  {{ for(c=0; c<matrix[r].length; c++) { }}
      {{ topic = matrix[r][c]; }}
      {{ if(typeof(topic)==='undefined') continue; }}
      <div class="four columns">
      <h3><a href='/blog/{{= topic.url }}'>{{= topic.title }}</a></h3>
      <p>{{= topic.summary }}</p>
      {{ if(topic.postedOn === null) { }}
        <p><i>Draft</i></p>
      {{ } else { }}
        <p><i>{{= topic.postedOn }}</i></p>
      {{ } }}
      </div>
  {{ } }}
  </div>
  
{{ } }}

<div class="row">
  <div class="eight columns">
    <p><a href="/blog/list" class="button">View All Blog Posts</a> 
      <a href="/blog/rss" class="button">Subcribe to this blog</a> 
      {{ if (!page.isReadOnly) { }} 
      <a href="/blog/new" class="button">New Blog Post</a>
      {{ } }}
    </p>
  </div>
</div>

{{ include layoutBottom }}
