{{ define "content" }}
<h1>{{.Title}}</h1>

<p><span>{{.Html}}</span></p>


<!-- TODO: isAuth -->
  <form action="{{ .Url }}/edit" method="post">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </form>

  {{ if .IsDraft }}
    <form action="{{ .Url }}/post" method="post">
      <div class="form-group">
        <button type="submit" class="btn">Post Blog</button>
      </div>
    </form>
  {{ else }}
    <form action="{{ .Url }}/draft" method="post">
      <div class="form-group">
        <button type="submit" class="btn">Mask as Draft</button>
      </div>
    </form>
  {{ end }}


<p class="text-muted">
  <small>Blog posted on: {{ .PostedOn }}</small>
</p>

<!-- TODO: isAuth -->
<p class="text-muted">
  <small>Created on: {{ .CreatedOn }}, Last update: {{ .UpdatedOn }}</small>
</p>
{{ end }}
