{{ define "content" }}

<h1>Credits</h1>
<p>Over the years I've written the code for this site in multiple
  languages and used several databases, and frameworks. The
  current version was written in Go and stores its data in
  a MySQL database.</p>

<p>You can see and download the source code for this site from
  <a href="https://github.com/hectorcorrea/hectorcorrea.com" target="_blank">this github repo.</a></p>

<p>The CSS for the site is based almost entirely on
  <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>.</p>

<p>Sincerely, <br/>
Hector Correa</p>

{{ end }}
