{{ include layoutTop }}
<div class="row">
  <div class="eight columns">
    <h1>Credits</h1>

    <p>The content on this site good, bad, or otherwise is mine. However, in order to build the site
      I used a bunch of great open source tools and frameworks. The code was written using Node.js, 
      Express.js, and CoffeeScript.</p>

    <p>The CSS for the site is based almost entirely on ZURB's 
      <a href="http://www.zurb.com/playground/off-canvas-layouts" target="_blank">Off Canvas Layouts</a>
      which in turns uses ZURB's foundation framework. This is what makes the site adapt so nice to 
      both, big screens and smaller devices like phones or tablets. </p>

  </div>
</div>
{{ include layoutBottom }}
