{{ include layoutTop }}
<div class="row">
  <div class="eight columns">
    <h1>Credits</h1>

    <p>The content on this site good, bad, or otherwise is all mine. However, in order to build it
      I used several great open source tools and frameworks. The code was written in CoffeeScript 
      and it uses Node.js and Express.js. The entire source code for this site is available 
      on <a href="https://github.com/hectorcorrea/hectorcorrea.com" target="_blank">github</a>.</p>

    <p>The CSS for the site is based almost entirely on ZURB's 
      <a href="http://www.zurb.com/playground/off-canvas-layouts" target="_blank">Off Canvas Layouts</a>
      which in turns uses ZURB's foundation framework. This is what allows the site adapt so nicely to both, 
      big screens and small devices (like phones and tablets.)</p>

  </div>
</div>
{{ include layoutBottom }}
