    </div><!-- container -->

    <div class="container">
      <footer>
        <p>&copy; 2003-<%= (new Date()).getFullYear() %> Hector Correa, all rights reserved. <a href="/credits">Credits</a>
        </p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Set to false to load load CSS & JS from localhost -->
    <% var isConnected = true; %>
    <% if(isConnected) { %>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <% } else { %>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
    <% } %>

    <!-- Close the menu when clicking on any of the menu options -->
    <script type="text/javascript">
      $('.nav li a').on('click',function(){
        $('.navbar-collapse').collapse('hide');
      });
    </script>

    <!-- Redirect legacy blog URLs -->
    <script type="text/javascript">
      if (window.location.hash.startsWith("#/blog")) {
        window.location = window.location.toString().replace("#/blog/","blog/");
      }
    </script>


    <% var isAnalytics = true; %>
    <% if(isAnalytics) { %>
      <!-- Track visit with Google Analytics -->
      <script type="text/javascript">
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% } %>

  </body>
</html>
