        <!-- body will be inserted below this line -->
      </section>
      
      <section id="sidebar" role="complementary">
        <nav id="sideMenu" role="navigation">
          <ul id="sideMainNav" class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>                     
        </nav>
      </section>
    </div>
      
    <footer class="site-footer row" role="contentinfo">
      <div class="twelve columns">
        &copy; 2003-2012 Hector Correa, all rights reserved. <a href="credits">Credits</a>
      </div>  
    </footer>   
  </div>
  
  
  <!-- Included JS Files -->
  <script src="/js/jquery.min.js"></script>
  <!-- Combine and Compress These JS Files -->
  <script src="/js/jquery.reveal.js"></script>
  <script src="/js/jquery.orbit-1.4.0.js"></script>
  <script src="/js/jquery.customforms.js"></script>
  <script src="/js/jquery.placeholder.min.js"></script>
  <script src="/js/jquery.tooltips.js"></script>
  <!-- End Combine and Compress These JS Files -->
  <script src="/js/app.js"></script>
  
  <script type="text/javascript" src="/js/jquery.offcanvas.js"></script>

  <!-- Track visit with Google Analytics -->
  <script type="text/javascript">      
      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript'; 
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; 
          s.parentNode.insertBefore(ga, s);
      })();
  </script>

</body>