/* Artfully masterminded by ZURB 
 * Customized (and probably scrwed it in the process) by http://hectorcorrea.com
 */

p, li { font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif; font-size: 18px; }

li { margin-left: 20px; }

.nav-bar > li {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 14px;
}

h1 { font-family: 'PT Serif', Georgia, 'Helvetica Neue', Arial, sans-serif; font-size: 40px; }

h2 { font-family: 'PT Serif', Georgia, 'Helvetica Neue', Arial, sans-serif; font-size: 28px; }

h3 { font-family: 'PT Serif', Georgia, 'Helvetica Neue', Arial, sans-serif; font-size: 23px; }

h4 { font-family: 'PT Serif', Georgia, 'Helvetica Neue', Arial, sans-serif; font-size: 17px; }

h5 { font-family: 'PT Serif', Georgia, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; }

h6 { font-family: 'PT Serif', Georgia, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; }

pre { margin-left: 20px; }

pre.code
{
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #363446;
    color: #A0A0A0; /* gray-ish */
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

pre.terminal
{
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #363446;
    color: #DAD681; /* yellow-ish */
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

