<h3>About</h3>
<div class="row">
  <div class="col-md-8">
    <p>I am a Software Developer in State College, PA. You can contact me at <a href="mailto:hector@hectorcorrea.com">hector@hectorcorrea.com </a></p>

    <p>I've been developing software since the late eighties. My experience is 
      mostly with distributed desktop and web applications for business purposes. 
      Some of the industries that I written software for include Health Insurance, 
      Tax Preparation, Construction, Financing, Bankruptcy, Electronic Discovery 
      (eDiscovery), Digital Media, and Weather Forecasting.</p>

    <p>Throughout my career I've been involved in all areas of software development 
      including analysis, design, coding, and testing either as a programmer, architect, 
      technical lead, or (gasp!) project manager.</p>

    <p>In recent years most of my work related experience has been with C#, ASP.NET MVC, 
      SQL Server, and Oracle, but I've spend a fair amount of time playing and writting 
      software with newer tools like Node.js, Ruby, and MongoDB. </p>

    <p>I hold a Bachelor of Science in Computer Science from Colima's Technology 
      Institute (Mexico) and several certifications including Microsoft Certified 
      Software Developer (MCSD), ScrumMaster, and MongoDB for Developers (M101P).</p> 

    <p>In the last few years I've given presentations at local events and user 
      groups in a variety of topics including CoffeeScript, Node.js, and NoSQL/MongoDB.</p> 
  </div>

  <div class="col-md-4">
    <img src="https://s3-us-west-2.amazonaws.com/hectorcorrea/images/hectorbwsmall.jpg" />
    <h4>Find me at</h4>
    <ul class="disc">
      <li><a href="https://github.com/hectorcorrea" target="_blank">GitHub</a></li>
      <li><a href="https://twitter.com/hectorjcorrea" target="_blank">Twitter</a></li>
      <li><a href="blog/rss" target="_blank">Blog Feed</a></li>
    </ul>

    <a href="http://stackoverflow.com/users/446681/hector-correa">
<img src="http://stackoverflow.com/users/flair/446681.png" width="208" height="58" alt="profile for Hector Correa at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Hector Correa at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a>
  </div>

</div>


