<h3>All Blog Posts</h3>

<div class="row">
  <div ng-repeat="blog in entries">

    <div class="col-lg-4">
      <h2>
        <a ng-bind-html-unsafe="blog.title" 
        ng-href="#/blog/{{blog.url}}/{{blog.key}}">
        </a>
        <span ng-show="!blog.postedOn">(draft)</span>
      </h2>
      <p>{{blog.summary}}</p>
    </div>

  </div>

</div>

<div class="row">
  <p>
    <form>
      <button ng-show="isAuth" ng-click="new()" type="button" class="btn btn-primary">New Post</button>
      <p ng-bind="errorMsg"></p>
    </form>
  </p>
</div>


