<div>
  <h1 ng-bind-html-unsafe="blog.title"></h1>

  <p><span ng-bind-html-unsafe="blog.summary"></span></p>

  <p><span ng-bind-html-unsafe="blog.text"></span></p>
  
  <button ng-show="isAuth" ng-click="edit()" type="button" class="btn btn-primary">Edit</button>

  <button ng-show="isAuth && (blog.postedOn != null)" ng-click="draft()" type="button" class="btn">Mark as Draft</button>

  <button ng-show="isAuth && (blog.postedOn == null)" ng-click="post()" type="button" class="btn">Post Blog</button>

  <p class="text-muted"><small>Blog posted on: {{blog.postedOn}}</small></p>


  <div ng-show="isAuth">
    <p class="text-muted"><small>
      Created on: {{blog.createdOn}}, Last update: {{blog.updatedOn}}
    </small></p>
  </div>
</div>
