<h3>Change Password</h3>

<form ng-submit="changePassword()">
  <div class="form-group">
    <label for="user">Username</label>
    <input ng-model="user" type="text" id="user" class="form-control" placeholder="e-mail address" readonly/>
  </div>

  <div class="form-group">
    <label for="oldPassword">Current Password</label>
    <input ng-model="oldPassword" type="password" id="oldPassword" class="form-control" placeholder="" autofocus/>
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input ng-model="newPassword" type="password" id="newPassword" class="form-control" placeholder=""/>
  </div>

  <div class="form-group">
    <label for="repeatPassword">Repeat Password</label>
    <input ng-model="repeatPassword" type="password" id="repeatPassword" class="form-control" placeholder=""/>
  </div>

  <button ng-disabled="!isAuth" type="submit" class="btn btn-primary">Change Password</button>
  
  <p ng-bind="errorMsg"></p>
</form>







