<h1>Credits</h1>
<p>The source code for this site is all mine. However, in order to build it I used several great open source tools and frameworks. The code was written in JavaScript and it uses Node.js and Express.js on the server side and Angular.JS on the client side.</p>

<p>The CSS for the site is based almost entirely on <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>.</p>

<p>The site is hosted at <a href="http://www.windowsazure.com/" target="_blank">Windows Azure</a>. </p>

<p>Sincerely, <br/>
Hector Correa</p>
