<div class="container-fluid" style="min-height:202px">
  <img src="https://s3-us-west-2.amazonaws.com/hectorcorrea/images/headerclipsmall.jpg" />
</div>

<div class="container">
  <h1>Welcome to HectorCorrea.com</h1>

  <p>I am a Software Developer in State College, PA.</p>

  <p>This site is where I host <a ng-href="/#/blog">my blog</a> and post small 
    articles about software development as well as code samples.</p>

  <p>My main areas of interest are web development in small and collaborative teams. 
    Although my main expertise is with C# and the .NET platform, I enjoy learning and 
    using a variety of technologies including Node.js, Ruby, and MongoDB and therefore 
    the posts in this site cover a wide range of topics. </p>

  <p>Feel free to browse around and contact me at <a href="mailto:hector@hectorcorrea.com">hector@hectorcorrea.com</a> if you have any questions or comments.</p>
</div>

