<h3>Initialize Admin User</h3>

<form>
  <p>Use this button to initialize the first user in the database. </p>

  <p>The new user will be created with the values defined in 
    the <b><i>environment variables defined on the server</i></b> 
    for BLOG_USER, BLOG_PASSWORD, and BLOG_SALT.</p>

  <p>Typically this means that you ran the server as follow:</p>

  <pre class="terminal">
  $ BLOG_USER=uu BLOG_PASSWORD=pp BLOG_SALT=ss node server.js
  </pre> 

  <p>You can only initialize the admin user if there are no other users in the database. </p>

  <button ng-click="init()" type="button" class="btn btn-primary">Initialize</button>
  
  <p></p>
  <div ng-show="errorMsg" ng-bind="errorMsg" class="alert alert-danger"></div>
</form>



