<h3>Login</h3>

<form ng-submit = "login()">
  <div class="form-group">
    <label for="user">Username</label>
    <input ng-model="user" type="text" id="user" class="form-control" placeholder="e-mail address" autofocus/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input ng-model="password" type="password" id="password" class="form-control" placeholder=""/>
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
  
  <p ng-bind="errorMsg"></p>
</form>







